@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    scroll-behavior: smooth;
    --background-color: white;
    --text-color: black;
    --notification-color: black;
    --button-padding: 5px 10px ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    transition: 0.2s ease;
}

* a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color);

}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

.container {
    width: 100%;
    min-width: 200px;
    min-height: 100vh;
    padding: 4rem 3rem;
}

* h1  {
    font-weight: 600;
    
}

* h2 {
    font-weight: 500;
}

* h3 {
    font-weight: 400;
}

/* separator */

.separator h1 {
    text-align: center;
    padding-top: 4rem;
    min-height: 20vh;
}

/* separator */


/* navbar */

#navbar {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 9999;
    opacity: 90%;
    border: none;
    top: 0;
}

.nav-left h2{
    font-weight: 700;
}

.nav-link {
    display: inline-block;
}

.nav-link a {
    font-weight: 500;
    color: var(--text-color);
    padding: 10px 15px;
}

.nav-link a:hover {
    color: var(--background-color);
    background-color: var(--text-color);
}

nav .burger {
    display: none;
}

nav svg {
    width: 1.5rem;
    height: 1.5rem;
}

/* navbar */

/* welcome */

#welcome {
    background-color: var(--background-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcome-left, .welcome-right {
    justify-self: center;
    align-content: center;
}

.welcome-left p {
    text-align: justify;
    margin: 1rem 0;
}

.welcome-button a{
    color: var(--text-color);
    padding: var(--button-padding);
    border: 1px solid var(--text-color);
    text-align: center;
}

.welcome-button svg {
    position: relative;
    bottom: -6px;
    width: 1.5rem;
}

.welcome-button a:hover {
    color: var(--background-color);
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
}

.welcome-right img {
    width: 100%;
    aspect-ratio: 7/8;
    object-fit: cover;
}

@media (max-width: 810px) {

    #welcome {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .welcome-right img {
        max-height: 400px;
    }

    .welcome-left {
        order: 2;
    }

    .welcome-right {
        order: 1;
    }


}


/* welcome-section */


/* projects */

#project {
    background-color: var(--background-color);
    color: var(--text-color);
}

.project-tile {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 2rem 0;
}

@media (max-width: 810px) {
    .project-tile {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }

    .project-left img {
        place-content: end;
    }
}

.project-left img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border: 1px solid black;
}

.project-right p {
    text-align: justify;
    margin: 1rem 0;
}

.project-right a {
    color: var(--text-color);
    padding: var(--button-padding);
    border: 1px solid var(--text-color);
    display: inline-block;
    text-align: center;
}

.project-right a:hover {
    color: var(--background-color);
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
}

/* projects */

/* contact */

#contact {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    text-align: justify;
    color: var(--text-color);
}

.contact-wrapper a {
    margin: 1rem 0 0;
    width: 100%;
    text-align: center;
    color: var(--text-color);
    padding: var(--button-padding);
    border-radius: 50px;
    border: 1px solid var(--text-color);
}

.contact-wrapper a:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* contact */

/* footer */

footer {
    width: 100%;
    min-height: 80vh;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

footer,
footer a {
    background-color: var(--text-color);
    color: var(--background-color);
    text-align: center;

}

.profile-link-container, .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}

footer a {
    padding: 1rem;
}

footer a:last-of-type {
    text-decoration: underline;
}

footer svg {
    width: 50px;
    height: calc(width);
}

.footer-bottom {
    flex-direction: column;
    width: 100%;
}

/* footer */

/* wide view */

@media (min-width: 900px;) {


* p {
        font-size: 2rem;
    }

}

/* wide view */

/* tablet view */

@media (max-width: 810px) {
    
    nav .burger {
        display: block;
    }

    .nav-link {
        display: none;
    }


}

/* tablet view */

/* mobile view */

@media (max-width: 480px)  {

    * p {
        font-size: 0.8rem;
    }
}

/* mobile view */

