@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    scroll-behavior: smooth;
    --background-color: white;
    --text-color: black;
    --notification-color: black;
    --button-padding: 5px 10px ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    transition: 0.2s ease;
}

* a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color);

}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
}


.container:first-of-type {
    min-height: 700px;
    padding: calc(4rem + 10px) 3rem;
}

.container {
    width: 100%;
    min-width: 200px;
    min-height: 400px;
    padding: 1rem 3rem;
}

/* separator */

.separator h2 {
    text-align: center;
    padding: 4rem 0;
}

/* separator */


/* navbar */

#navbar {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 9999;
    opacity: 90%;
    border: none;
    top: 0;
}

.nav-left h2{
    font-weight: 700;
}

.nav-link {
    display: inline-block;
}

.nav-link a {
    font-weight: 500;
    color: var(--text-color);
    padding: 10px 15px;
}

.nav-link a:hover {
    color: var(--background-color);
    background-color: var(--text-color);
}

nav .burger {
    display: none;
}

nav svg {
    width: 1.5rem;
    height: 1.5rem;
}

hr {
   visibility: hidden;
}

/* navbar */

/* welcome */

#welcome {
    background-color: var(--background-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.welcome-left, .welcome-right, .contact-right, .contact-left {
    justify-self: center;
    align-content: center;
}

.welcome-left p {
    text-align: justify;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.welcome-button svg {
    position: relative;
    bottom: -6px;
    width: 1.5rem;
}

.welcome-button a {
    color: var(--text-color);
    padding: var(--button-padding);
    border: 1px solid var(--text-color);
    text-align: center;
}

.welcome-button a:hover {
    color: var(--background-color);
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
}

.welcome-right img {
    width: 20rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px solid black;
    box-shadow: 10px 5px 10px 5px rgb(240, 234, 234);
}  



/* welcome-section */


/* projects */

#project {
    background-color: var(--background-color);
    color: var(--text-color);
}

.project-tile {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0;
}

.project-left img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 10px 5px 10px 5px rgb(240, 234, 234);
}

.project-right p {
    text-align: justify;
    margin: 1rem 0;
}

.project-right a {
    color: var(--text-color);
    padding: var(--button-padding);
    border: 1px solid var(--text-color);
    text-align: center;
}

.project-right a:hover {
    color: var(--background-color);
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
}

/* projects */

/* contact */

.contact-right h1 {
    font-size: 10rem;
}

.contact-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    background-color: var(--background-color);
    text-align: justify;
}

.contact-wrapper p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.contact-button a {
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: var(--button-padding);   
    border: 1px solid var(--text-color);
}

.contact-button a:hover {
    color: var(--background-color);
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
}

/* contact */

/* footer */

/* footer */
