@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    scroll-behavior: smooth;
    --background-color: #F0EDE5;
    --text-color: #514B40;
    --accent-color: #8C735B;
    --alternative-color: #BAA898;
    --highlight-color: #D9C6AD;
    --notification-color: #5C5047;
    --button-padding: 0.5rem 1rem;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    transition: 0.2s ease;
}

* a {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);

}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

.container {
    width: 100%;
    min-width: 200px;
    min-height: 100vh;
    padding: 2rem;
}

footer {
    padding: 1rem;
}

footer, footer a {
    background-color: var(--text-color);
    color: var(--background-color);
    text-align: center;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: var(--highlight-color);
}

/* navbar */

#navbar {
    background-color: var(--background-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 1rem;
    position: fixed;
    z-index: 9999;
}

nav li {
    display: inline-block;
}

nav a {
    color: var(--text-color);
    background-color: none;
    text-decoration: none; 
    padding: var(--button-padding);
    border-radius: 20px;
}

.nav-link:hover, .nav-link.active {
    color: var(--background-color);
    background-color: var(--accent-color);
}

nav svg {
    width: 1rem;
    display: none;
}

/* navbar */

/* welcome-section */

#welcome-section {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.welcome-txt {
    width: 480px;
}

.welcome-img img {
    width: 250px;
    border-radius: 100%;
}

.welcome-txt p, .welcome-txt h2 {
    text-align: justify;
    margin: 1rem 0;
}

.profile-link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.profile-link-container a {
    color: var(--text-color);
    padding:  var(--button-padding);
    border: 1px solid var(--text-color);
    border-radius: 50px;
}

.profile-link-container a:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* welcome-section */

/* projects */

#projects {
    background-color: var(--accent-color);
    color: var(--background-color);
    text-align: center;
}

#projects h1 {
    margin: 3rem 0;
}

.project-card {
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 3rem 0;
}

.project-img, .project-txt {
    width: 50%;
}

.project-img img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.project-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.project-txt p {
    text-align: justify;
}

.project-txt a {
    color: var(--background-color);
    padding: var(--button-padding);
    border: 1px solid var(--background-color);
    border-radius: 50px;
    width: 100%;
}

.project-txt a:hover {
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--background-color);
}

/* projects */

/* contact */

#contact {
    background-color: var(--background-color);
}

/* contact */

/* tablet view */



@media (max-width: 860px) {

    .container:first-of-type {
        padding: 4rem 2rem;
    }


    .nav-link {
        display: none;
    }

    nav svg {
        display: block;
    }

    .welcome-txt h1 {
        font-size: smaller;
    
    }

    .welcome-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .welcome-img, .welcome-txt, 
    .project-img, .project-txt {
            width: 100%;
            padding: 0;
        }

    .project-card, #welcome-section {
        gap: 2rem;
    }

    .left-right {
       flex-direction: column; 
    }

    .right-left, #welcome-section {
        flex-direction: column-reverse;
    }
}

/* tablet view */

/* mobile view */

@media (max-width: 480px)  {

}

/* mobile view */
