@media (min-width:1367px) {
    #hero {
        height: 800px;
    }
}

@media (max-width: 750px) {
        #hero,
            .project-card-wrapper,
            .about {
                grid-template-columns: 1fr;
            }

        .hero-left {
            order: 2;
        }

        .hero-right {
            justify-content: center;
            order: 1;

        }

        .hero-right img {

        }

            .container:first-of-type {
                padding: 100px 0 0;
            }

            #contact {
                grid-template-columns: 1fr 1fr;
            }

            footer {
                    padding: 80px 2rem 0;
            }

}