* h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

* h2 {
    font-weight: 500;
    font-size: 1.3rem;
}

* h3 {
    font-weight: 400;
    font-size: 1.1rem;
}

* p {
    font-size: 0.9rem;
}



@media (max-width: 800px) {
    nav .burger {
        display: block;
    }

    .nav-link {
        display: none;
    }
    
    #welcome {
            grid-template-columns: 1fr;
            gap: 0;
        }
    
        #welcome h1 {
            font-size: 1.5rem;
        }
    
        .welcome-right img {
            width: 100%;
        }
    
        .welcome-left {
            order: 2;
        }
    
        .welcome-right {
            order: 1;
        }

        .project-tile {
            grid-template-columns: 1fr;
            gap: 1rem;
        }
        
    
     
}

@media (max-width: 810px) {
        .contact-wrapper {
                width: 100%;
            }
}
